.container{
    display : inline-block ;
    width: 950px;
    height: 600px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    display: flex;
    align-items: center;
    height: 150px;
    background-color: green;
}
.side-nav {
   
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    display : inline-block ;
    height: 400px;
    width: 700px;
    background-color: red;
}
.sub-content {
    display : inline-block ;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    display : inline-block ;
    height: 120px;
    width: 660px;
    background-color: purple;
}
.row {
    /* TODO - what should go here? */
}